<html>
    <body>
        <div class="col-lg-4 col-lg-offset-4" id="content">
            <h1>What to do today</h1>
            <form action="#" method="POST" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter todo">
                        <span class="input-group-btn">
                            <buttom type="submit" class="btn btn-default" id=add-btn>add</buttom>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        
        <ul class="list-group t20">
            {% for todolist in todo_items %}
                {% if todolist.completed %}
                <li class="list-group-item todo-completed">{{todolist.text}}</li>
                {% else %}
                <a href="#"><li class="list-group-item">{{todolist.text}}</li>
                {% endif%}    
            {% endfor %}
        </ul>
    </body>
</html>